[run]
source =
    bluesky_queueserver
[report]
omit =
    */tests/*
    */_tests/*
    .docs/*
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py

exclude_lines =
    if __name__ == '__main__':
