aiosqlite
bluesky>=1.7.0
ipykernel
jsonschema
jupyter-client>=7.4.2
jupyter-console
numpydoc
openpyxl
ophyd
packaging
pydantic
python-multipart
pyyaml
pyzmq
redis[hiredis]
requests
typing-extensions;python_version<'3.8'
