aioredis<2.0.0
bluesky
bluesky-kafka
databroker
event-model
json-rpc
jsonschema
matplotlib # Needed for BEC, should be factored out
scikit-image # Needed for BEC/other stuff to run, factor out
msgpack>=1.0.0
msgpack_numpy
numpydoc
openpyxl
ophyd
pydantic
python-multipart
pyyaml
pyzmq
requests
typing-extensions;python_version<'3.8'
